body {
  font-family: 'Open Sans', sans-serif;
  color: #2C2C2C;
}

.content {
  min-height: 85vh;
}

.bg-light {
  background-color: transparent !important;
}

.nav-item {
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
  font-weight: bold;
}

.text-container {
  position: relative;
}

.title {
  font-weight: bold;
}

.title-h {
  min-height: 70px;
}

.homepage-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.centered {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text-container:hover .homepage-img {
  opacity: 0.3;
}

.text-container:hover .centered {
  opacity: 1;
}

.centered a {
  background-color: #333;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
}

.home-container {
  background: url('../img/bg-home.jpg') no-repeat center top;
  background-size: cover;
  width: 100%;
}

.intro-container, 
.illustration-container {
  height: 100%;
  text-align: center;
}

.intro {
  text-align: center;
  height: fit-content;
  padding: 100px;
}

.welcome {
  max-width: 70%;
  margin: 20px;
}

.text-left {
  text-align: left;
}

.illustration {
  margin: auto;
  height: fit-content;
  padding: 100px;
}

@media screen and (max-width: 1200px) {
  .illustration,
  .intro {
    padding: 40px;
    height: unset;
  }
}

h2,
h3 {
  text-transform: uppercase;
  font-weight: bold;
}

h2:after {
  display: block;
  height: 2px;
  content: ' ';
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
  border-bottom: 2px solid #B18962;
}

.card-title {
  font-weight: bold;
}

.circular--landscape,
.circular--landscape1 {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.circular--landscape1 img {
  width: 100%;
  height: auto;
  margin-top: -50px;
}

.nav-link ion-icon {
  font-size: 250%;
}

.post-container {
  border: solid 1px grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 3rem;
}

.post-title {
  font-style: italic;
  text-transform: capitalize;
}

.post-container {
  margin: 3rem 0.5rem;
}

.service-section {
  padding-bottom: 3rem;
}

.service-section:hover {
  border: 2px solid rgb(255, 1, 1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-top: 10px;
}

.gallery-text {
  min-height: 150px;
}

.sub {
  font-weight: bold;
}

.post_date {
  text-align: left;
  font-size: 80%;
  font-weight: bold;
}

.service-img {
  max-height: 400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-orange {
  border: 1px solid #B18962;
  background-color: #B18962;
  color: white;
}

.btn-orange:hover {
  border: 1px solid #B18962;
  color: #B18962;
  background-color: white;
}

.btn-white {
  border: 1px solid white;
  color: white;
}

.btn-white:hover {
  font-weight: bold;
  color: white;
}

.btn-galleries {
  float: right !important;
}

.parallax {
  /* The image used */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url('../img/bg2.png') fixed no-repeat center center / cover;
  /* background-image: url('../img/portfolio.jpg'); */

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.parallax-text {
  padding-top: 200px;
  color: white;
  text-align: center;
}

a .icon {
  height: 40px;
  width: 40px;
  color: #B18962;
}

.round {
  border-radius: 50%;
  height: 300px;
  width: auto;
}

.bg-orange {
  background: #B18962 !important;
}

@media only screen and (min-width: 768px) {
  .service {
    margin: 3rem 0;
  }
  .g-text {
    margin: 3rem;
  }
}
