<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<section id="header">
  <div class="home-container">
    <div class="home-centered">
      <h1 class="text-center title">Eugenio Basso</h1>
      <h3 class="text-center subtitle ">Photography</h3>
      <br />
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </h4>
    </div>
  </div>
</section>
<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <div class="row text-center">
    <div class="col-md-12 py-5">
      <h2 class="title">
        Eugenio Basso <br />
        <span>Photography</span>
      </h2>
    </div>
  </div>

  <div class="row featurette my-5">
    <div class="col-md-7">
      <h3 class="featurette-heading">
        Lorem ipsum dolor sit amet
      </h3>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        <a class="btn btn-orange" href="{% url 'contact' %}" role="button"
          >Contact me &raquo;</a
        >
      </p>
    </div>
    <div class="col-md-5 text-center">
      <img src="{% static 'img/man.jpg' %}" alt="" class="round img-fluid" />
    </div>
  </div>
</div>
<!-- <div class="row text-center">
    <div class="col-md-12 py-3">
      <h2 class="py-5">Portfolio</h2>
    </div>
  </div> -->
<div class="parallax">
  <div class="container">
    <h3 class="parallax-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </h3>
    <p class="text-left">
      <a
        class="btn btn-white btn-galleries"
        href="{% url 'categories' %}"
        role="button"
        >Portfolio &raquo;</a
      >
    </p>
  </div>
</div>
<!-- <div class="row px-5">
    <div class="col-12 text-center">
        <p>
            You are one click away from discovering a new way to see the world.</br>Mine.</p>
        </p>
        <img class="img-fluid portfolio-img p-3" src="{% static 'img/portfolio.jpg' %}" />
    </div>
    </div> -->
<!-- <div class="row mb-5">
    <div class="col-12">
      <p class="text-left">
        <a
          class="btn btn-orange btn-galleries"
          href="{% url 'categories' %}"
          role="button"
          >Portfolio &raquo;</a
        >
      </p>
    </div>
  </div> -->
<!-- Categories -->
<div class="container marketing">
  <section id="categories" class="py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="py-5">Latest Projects</h2>
        </div>
      </div>
      <div class="row text-center">
        {% if categories %} {% for category in categories %}
        <div class="col-md-4 mb-3">
          <div class="text-container">
            <img
              src="{{ subcategory.subcategory_photo.url }}"
              alt=""
              class="mb-3 img-fluid homepage-img"
            />
            <div class="centered">
              <h5>
                <a
                  href="portfolio/{{ subcategory.category.slug }}/{{
                    subcategory.slug
                  }}"
                  >{{ category.name }}</a
                >
              </h5>
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="col-md-12">
          <p>No Categories Available</p>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endblock %}
</div>
