<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container marketing">

    <!-- START THE SERVICES -->

    <div id="travel" class="row text-center">
        <div class="col-md-12">
            <h2 class="pt-5">TRAVEL</h2>
        </div>
    </div>

    <div class="row service mb-5">
        <div class="col-md-7">
            <p class="lead m-5 text-center">This is your window on anything that regards Travel: trains, noodles, backpacks, shoes, hats.
                Photography and Travel make one of the best marriages, combining our natural curiosity and search for the new and the love of having memories of the places you've been to, people you've met and food you've tasted. 
                Explore this gallery and start the adventure.</p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/TRAVEL.jpg' %}" alt="" class="my-3 img-fluid service-img">
        </div>
    </div>

    <div id="world" class="row text-center">
        <div class="col-md-12">
            <h2 class="pt-5">THE WORLD</h2>
        </div>
    </div>

    <div class="row service mb-5">
        <div class="col-md-5">
            <img src="{% static 'img/THE_WORLD.jpg' %}" alt="" class="my-3 img-fluid service-img">
        </div>
        <div class="col-md-7">
            <p class="lead m-5 text-center">Every great show needs a great set and what more could we ask than our wonderful Planet with its hills and lakes, mountains and seas, deserts and oceans? Everything is a subject. Everything can surprise.
                Let this gallery amaze you with its colors and shapes of our Planet.
                </p>
        </div>
    </div>

    <div id="events" class="row text-center">
        <div class="col-md-12">
            <h2 class="pt-5">EVENTS</h2>
        </div>
    </div>

    <div class="row service mb-5">
        <div class="col-md-7">
            <p class="lead m-5 text-center">
                This is all about you. Every fabric, every guest, every flower, literally every detail becomes an essential part of your memories when you're creating a  stills of your most special memories. 
                Visit this gallery and live the stories collected in it.</p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/EVENTS.JPG' %}" alt="" class="my-3 img-fluid service-img">
        </div>
    </div>

    <div id="works" class="row text-center">
        <div class="col-md-12">
            <h2 class="pt-5">WORKS</h2>
        </div>
    </div>

    <div class="row service mb-5">
        <div class="col-md-5">
            <img src="{% static 'img/WORKS.jpg' %}" alt="" class="my-3 img-fluid service-img">
        </div>
        <div class="col-md-7">
            <p class="lead m-5 text-center">Imagine it, draft it, make it.<br/>
                Here you'll find the result of ideas, collaborations, projects or simply fun days with friends wanting to discover their side of the lense.
                These are the projects that once used to be ''just an idea'', turned into photoshoots, portfolios and personal collections. 
                Slide through this gallery and find yours.</p>
        </div>
    </div>

    <!-- /END THE SERVICES -->

</div>
{% endblock %}