<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container marketing">
  <h2 class="text-center pt-5">Services</h2>

  <!-- START THE GALLERIES -->

  <div class="row service p-5">
    <div class="col-md-7 px-3">
      <h4 class="text-center sub">PHOTOGRAPHY</h4>
      <p class="lead g-text text-center">
        It all starts here. The ideas, the projects, the images, they all take
        shape with the ‘’simple’’ click of the camera. This my core, the main
        job is done behind the lense, with lights, background, flash and...my
        eyes. This is where we will work together with poses, smiles, walls,
        chairs and anything that will let us build the shooting.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="{% static 'img/PHOTOGRPAHY.jpg' %}"
        alt=""
        class="my-3 img-fluid service-img"
      />
    </div>
  </div>

  <div class="row service p-5">
    <div class="col-md-5">
      <img
        src="{% static 'img/POST.PNG' %}"
        alt=""
        class="my-3 img-fluid service-img"
      />
    </div>
    <div class="col-md-7 px-3">
      <h4 class="text-center sub">POST-PRODUCTION & RETOUCH</h4>
      <p class="lead g-text text-center">
        Phase two of the shooting: looking at what we’ve done and enhance it.
        Retouching doesn’t necessary mean making your hair longer or your legs
        thinner, it might mean highlighting your curves against a wonderful
        purple lavender field or turning your portrait into a vintage
        black&white still. The rule here is: don’t overdue.
      </p>
    </div>
  </div>

  <div class="row service p-3">
    <div class="col-md-7 px-5">
      <h4 class="text-center sub">MEDIA CREATION</h4>
      <p class="lead g-text text-center">
        Baby showers invites, wedding cards, restaurant menu, you say it!
        Creativity, a context and a laptop are our tools. Whether you need to
        prepare cards to inform people of your upcoming birthday party or a
        business presentation, we’ll create templates, draw lines and add images
        for a neat and target product.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="{% static 'img/MEDIA.jpg' %}"
        alt=""
        class="my-3 img-fluid service-img"
      />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <p class="text-left">
        <a
          class="btn btn-orange btn-galleries"
          href="{% url 'categories' %}"
          role="button"
          >Portfolio &raquo;</a
        >
      </p>
    </div>
  </div>

  <!-- /END THE SERVICES -->
</div>
{% endblock %}
