<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<!-- Photos -->
<section id="category-photos" class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="py-5">{{category.name}}</h2>
                <p class="text-center">{{category.description}}</p>
                <p class="text-left"><a class="btn btn-red" href="{% url 'categories' %}" role="button">Back To Portfolio &raquo;</a></p>
            </div>
        </div>
        <div class="row text-center mt-5">
            {% if subcategories %}
                {% for subcategory in subcategories %}
                <div class="col-md-4 mb-3">
                    <div class="text-container">
                        <img src="{{subcategory.subcategory_photo.url}}" alt="" class="mb-3 img-fluid homepage-img">
                        <div class="centered">
                            <h5><a href="{{subcategory.slug}}">{{ subcategory.name }}</a></h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>No Subcategories Available</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}